@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'SS Default Lingo';
  src: url('./assets/fonts/Default Lingo Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-outfit: 'Outfit', sans-serif;
  --font-lingo: 'SS Default Lingo', serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white font-sans text-black antialiased;
  }

  *:focus-visible {
    @apply outline-2 outline-offset-2 outline-gray-900;
  }
}
